@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes oval {
  0%, 100% { transform: translateY(0) translateX(0) scale(1); }
  50% { transform: translateY(-20px) translateX(10px) scale(1.05); }
}

@keyframes oval-slow {
  0%, 100% { transform: translateY(0) translateX(0) scale(1); }
  50% { transform: translateY(-10px) translateX(5px) scale(1.02); }
}

.animate-oval {
  animation: oval 6s ease-in-out infinite;
}

.animate-oval-slow {
  animation: oval-slow 8s ease-in-out infinite;
}


@layer utilities {
  @keyframes cycleColors {
    0%   { background-color: #ff0000; }   /* rouge */
    11%  { background-color: #ffa500; }   /* orange */
    22%  { background-color: #ffff00; }   /* jaune */
    33%  { background-color: #008000; }   /* vert */
    44%  { background-color: #0000ff; }   /* bleu */
    55%  { background-color: #4b0082; }   /* indigo */
    66%  { background-color: #ee82ee; }   /* violet */
    77%  { background-color: #00ffff; }   /* cyan */
    88%  { background-color: #ff69b4; }   /* rose */
    100% { background-color: #ff0000; }   /* retour au rouge */
  }

  .group:hover .animate-color-cycle {
    animation: cycleColors 3s infinite;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
